body {
  margin:0px;
  padding:0px;
  background:#00B1EB;
  
}

* { 
  box-sizing:border-box;
  font:verdana;
}

.homescreen {
  
  width:100%;
  height:100%;
  position:absolute;
  left:0px;
  top:0px;
  background: #00B1EB;
}

.home-image {
  width:512px;
  height:512px;
  position:absolute;
  left:50%;
  margin-left:-256px;
}

.home-button {
  font-size:18px;
  font-family:verdana,arial;
  font-weight:bold;
  padding-top:10px;
  width:278px;
  height:46px;
  position:absolute;
  left:50%;
  top:550px;
  margin-left:-128px;
  color:#ffffff;
  text-align:center;
  background-image:url(/public/images/button1.png)
}

.home-button:active {
  background-image:url(/public/images/button1-down.png);
  padding-top:11px;
}

.topbar {
  position:absolute;
  width:100%;
}

.topbar img.background {
  position:absolute;
  width:512px;
  left:50%;
  margin-left:-256px;
  top:0px;
}

.user-avatar {
  position:relative;
  left:50%;
  margin-left:116px;
  top:20px;
  width:120px;
  height:120px;
  background-color:#000000;
}

.user-avatar img {
  margin-left:2px;
  margin-top:2px;
}

.user-name {
  position:absolute;;
  height:20px;
  left:50%;
 
  margin-left:-100px;
  top:15px;
}

.user-reputation {
  position:absolute;;
  height:20px;
  left:50%;
  margin-left:-100px;
  top:35px;
  font-size:30px;
  font-style:italic;
}

.user-score {
  text-align:center;
  color:yellow;
  position:absolute;;
  height:30px;
  width:60px;
  left:50%;
  margin-left:-100px;
  top:80px;
  
  font-size:20px;
}

.xcontent-area {
  position:a
  background:yellow;
  width:100%;
  height:1024px;
}

.main-area {
  position:absolute;
  top:160px;;
  width:100%;  
  overflow-x:scroll;
  overflow-y:none;
  background:yellow;
  padding-top:30px;
  text-align:center;
  
}



.loader{
  display:none;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  opacity:0.8;
filter:alpha(opacity=80);
}

.loading .loader { display:block; }

.objects-container {
  position:relative;
  left:50%;
  width:2000px;
  text-align:center;
}

.artobject {
  float:left;
  display:inline;
  border:solid 2px #B0B0B0;
  text-align:center;
  margin:5px;
}

.number-1 img {
  height:300px;
}

.number-2 img {
  height:300px;
}