#{extends 'main.html' /}
#{set title:'Home' /}
#{topbar user:user /}

<script>
  var object_ids = ['${artobject1?.id}', '${artobject2?.id}'];
</script>
<div class="content-area">

  <div class="main-area">
    <div class="objects-container" style="width:${artobject1.width + artobject2.width + 10}">
      <div class="artobject number-1">
        <img src="${artobject1?.image_url}"  /><br/>
      </div>
      <div class="artobject number-2">
        <img src="${artobject2?.image_url}"/><br/>
      </div>
    </div>
    
    <button onclick="vote()" class="vote-button">This should be in a Museum!</button>
  </div>
  
  <div class="vote-results">
    <img src="/public/images/icon-right.png" class="rightwrong-icon right-icon"/>
    <img src="/public/images/icon-wrong.png" class="rightwrong-icon wrong-icon"/>
    
    <div class="result-message">...</div>
    
    <button class="next-button" onclick="window.location='/play'">Next challenge</button>
    
    <div class="explanation">
      ...
    </div>
    
    <div class="result-image">
      <img src="" />
    </div>
  </div>
  
</div>