<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/auth-buttons.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
        
        <script>
        function voteFor(object_id)
        {
        	$('main-area').addClass('loading');
        	result = $.getJSON('/api/vote?object_id=' + object_id, { async:false },
        			function(data){ 
        		   console.log(data); 
        		   alert(data.message);
        		   $(".main-area").html('');
        		   window.location.reload();
        			});
        	
        	//console.log(result.responseText);
        	//result.
        	//var obj = eval(result.responseText);
        	
        	//console.log(obj);
        	
        	//alert(obj.result);
        	//if (obj.result || !obj.result)
        	//{
        	 //alert(obj.message);
        	
        	//}
        	
        }
        </script>
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
